<!--Toolbar HTML-->
<md-toolbar color="primary" class = "top-toolbar">
  <span>
<div class="button-row">
  <button md-raised-button color="primary">
    <md-icon>home</md-icon>
     Home
  </button> 
  <button md-raised-button color="primary">
  <md-icon>create_new_folder</md-icon>
  New Project</button>

  <button md-raised-button color="primary">
  <md-icon>folder_open</md-icon>
  Load Project</button>

  <button md-raised-button color="primary"> <md-icon>help_outline</md-icon> Help</button>
</div>
  </span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-spacer"></span>

  <span class = "login-button">
  <button md-raised-button mdTooltip = "Adjust your profile settings" mdTooltipShowDelay = "500" color="primary">
    <md-icon>settings</md-icon>
  </button>
  <button md-raised-button color="primary">
  <md-icon>account_box</md-icon>
  Login</button>
  </span>
</md-toolbar>
<!--Toolbar HTML-->