<form *ngFor = "let storey of storeyFloorData; let i = index;">
    <md-select placeholder="Floor type" name ="typeSelector{{i}}" [(ngModel)]="storeyFloorData[i].floorTypes[0]">
        <md-option *ngFor="let floorType of floorTypes" [value]="floorType.value">
            {{floorType.viewValue}}
        </md-option>
     </md-select>

	 <md-form-field style="width: 150px">
	 <input mdInput type="number" placeholder="Floor area (m2)" name="floorArea{{i}}" maxlength="5" min="0"  [(ngModel)] = "storeyFloorData[i].floorAreas[0]">
	 </md-form-field>

	 <!--  <button md-raised-button mdTooltip = "Does this storey have multiple floor types? Use this!" mdTooltipShowDelay = "500" color="primary">
		     Add floor type
	</button> -->

	<md-select mdTooltip = "Select the type of floor insulation on this storey" mdTooltipShowDelay = "500" placeholder="Insulation" [(ngModel)]="storeyFloorData[i].insulationTypes[0]" class = "typeSelector" name = "floorInsulationType{{i}}">
		    <md-option *ngFor="let insulationType of insulationTypes;" [value]="insulationType.value">
		      	{{insulationType.viewValue}}
		    </md-option>
	 </md-select>

	 <md-form-field *ngIf = "storeyFloorData[i].insulationTypes[0] == 'batts'" style="width: 150px">
	 <input mdInput type="number" placeholder="Batt R-Value" name="battRValue{{i}}" maxlength="5" min="0" max = "8" step = "0.5" [(ngModel)] = "storeyFloorData[i].battValue[0]">
	 </md-form-field>


	<button md-mini-fab mdTooltip = "Delete this floor" mdTooltipShowDelay = "500" color="warn" (click) = "deleteFloor(i)">
		<md-icon>delete</md-icon>
	</button> 

	
	</form>

		
	<button md-raised-button color="primary" style="inline" (click)="incrementStoreyNumber()">
	    <md-icon>library_add</md-icon>
	     Add storey
	</button> 

	<div class="done-button">
		<button md-raised-button color="primary" (click) = "debugFunction(0)">
	    	<md-icon>save</md-icon>
	     Save
		</button> 
	</div>

	<!-- TODO
	Add form validation
	 -->