<app-kelvin-energy-site-details></app-kelvin-energy-site-details>
<app-kelvin-energy-floor-details></app-kelvin-energy-floor-details>
<app-kelvin-energy-wall-details></app-kelvin-energy-wall-details>
<app-kelvin-energy-roof-and-ceiling-details></app-kelvin-energy-roof-and-ceiling-details>
<app-kelvin-energy-glazing-details></app-kelvin-energy-glazing-details>

<!--Save and Report button HTML-->
<button md-raised-button color="primary">
    <md-icon>check_circle</md-icon>
     Calculate
</button> 
<button md-raised-button color="primary">
    <md-icon>picture_as_pdf</md-icon>
     Print Report
</button> 





